PORT=3000
NODE_ENV=development

# Neon DB Postgres URL
DATABASE_URL="postgresql://user:password@ep-something.us-east-2.aws.neon.tech/neondb?sslmode=require"

# Upstash Redis
UPSTASH_REDIS_REST_URL="rediss://default:password@us1-something.upstash.io:30000"

JWT_SECRET="super-secret-key"
JWT_EXPIRES_IN="1d"
CLIENT_URL="http://localhost:3000"
